$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.sortable-table{
   .table{
		thead{
			th{
				cursor: pointer;
				position: relative;
				text-align: center;
				min-height: 80px;
				background-color: #db3615;
				color: #fff;
				padding: 5px;			
				line-height: 25px;
				height: 80px;
				border-bottom: 5px solid #ccc;
			}				
			th.sort-desc, th.sort-asc{
					background-color: #E0914C;
					border-bottom: 5px solid #C70000;
			}
		}
		tbody td:first-child {
			background-color: #f9f9f9;
			font-family: 'Oxygen', sans-serif;
		}

		tbody tr:hover td
		{
			background-color: lighten(#E0914C, 30);
			color: #000;
		}

		tbody tr td {
			padding: 10px;
			background-color: #FFF;
			border-top-color: #DDD;
			color: #222;			
			img{
				width: 100%;
				height: auto;
			}
		}		
   }
   .search-box{
	   padding: 10px 0px;
		input.search{
			width: 200px;
			margin-left: 10px;
			height: 30px;
			border: none;
			padding-left: 10px;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			border: 2px solid #c30;
		}
   }
   .pager{
	   margin: 5px 0;
	   >*{
		   float: left;
	   }
		select.page-select {
			width : 80px;
		}
		&:after{
			content: "";
			clear: both;
			display: block;
		}
		.SortableTblLabel{
			height: 30px;
			line-height: 30px;
		}
   }
   .desc{
   		margin: 5px 0;
		text-align: right;
   }
}
